<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

<style type="text/css">
#box {
	width: 500px;
	margin: 0 auto;
	border: 1px solid red;
}

#form {
	text-align: center;
	margin: 20px auto;
	width: 350px;
	border: 1px solid blue;
}

.table1 {
	text-align: center;
	border: 1px solid green;
	width: 350px;
	margin: 10px auto;
}

h3 {
	text-align: center;
}
</style>
</head>
<body>

	<div id="box">
		<h3>添加</h3>
		<form th:action="@{/addUser}" method="post" id="form">
			姓名：<input type="text" name="name" /> <br /> 年龄：<input type="text"
				name="age" /> <br /> <input type="submit" value="提交" />
		</form>

		<h3>修改、删除</h3>
		<table class="table1">
			<tr>
				<th>uid</th>
				<th>name</th>
				<th>age</th>
			</tr>
			<tr th:each="user:${userlist}">
				<td th:text="${user.uid}"></td>
				<td th:text="${user.name}"></td>
				<td th:text="${user.age}"></td>
				<td><a th:href="@{/findUserById(uid=${user.uid})}">修改</a></td>
				<td><a th:href="@{/deleteUser(uid=${user.uid})}">删除</a></td>
			</tr>
		</table>

	</div>

</body>
</html>